<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <div class="form-label-group field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email_address, required: true, class: "form-control" %>
            <%= f.label :email %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: :password, required: true, class: "form-control" %>
            <%= f.label :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <div class="checkbox field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end %>

        <%= f.submit "Login", class: "btn btn-primary btn-block actions" %>
      <% end %>
      <div class="text-center">
      <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
