<div class="container">
  <div class="row">
    <div class="col-auto mr-auto"><%= Rails.configuration.general.domain %></div>
    <ul class="nav col-auto">
      <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
    </ul>
  </div>
</div>
