<h1>Bundles</h1>
<%= form_with model: [:admin, @bundle] do |f| %>
  <%= f.label :version %>
  <%= f.text_field :version %>
  <%= f.select :release, options_for_select(['beta', 'stable']) %>
  <%= f.label :assetfile %>
  <%= f.file_field :assetfile  %>
  <%= f.label :content_type %>
  <%= f.select :content_type, options_for_select(['application/zip']) %>
  <%= f.submit "Upload" %>
<% end %>
