<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
      <div class="text-center mb-4">
        <h4>Forgot your password?</h4>
        <p>Enter your email address and we will send you instructions on how to reset your password.</p>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <div class="form-label-group field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email_address, required: true, class: "form-control" %>
            <%= f.label :email %>
          </div>
        </div>
        <%= f.submit "Reset Password", class: "btn btn-primary btn-block actions" %>
        <% end %>
      <div class="text-center">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
