<div class="container">
  <div class="row">
    <div class="col-auto mr-auto">BIM Schedule</div>
    <ul class="nav col-auto">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
    </ul>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">
      Thank you for taking part in development of BIM Schedule. See below for instructions on how to get started.
    </p>
    <hr class="my-4">
    <p>
      To run the Revit plugin:
      <ul>
        <li>Download your Revit plugin access file:
          <%=
            if @license && @license.active
              link_to 'Download', { controller: '/downloads', action: 'token', release: @license.release }
            else
              content_tag :span, "Not active"
            end
          %>
        </li>
        <li><%= link_to 'Download', { controller: '/downloads', action: 'installer', release: 'beta' } %> the installer and run it.</li>
        <li>In the 'About' command, click on the 'Import' button and select your downloaded access file.
      </ul>
    </p>
    <p>
      You only need to install the plugin once. Updates are done automatically.
    </p>
  </div>
</div>
