<button class="button btn-primary">Users <span class="badge badge-light"><%= @users.count %></span></button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Last Sign-in</th>
      <th scope="col">Blocked</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.email %></td>
        <td><%= user.confirmed_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.blocked_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
