<%= javascript_pack_tag 'tables', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'tables', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= react_component("RevisionSetView", { revision_set: @revision_set, revision_ids: @revision_ids, current_data: @latest }) %>
