<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <div class="form-label-group field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email_address, required: true, class: "form-control" %>
            <%= f.label :email %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <!-- <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %> -->
              <div class="form-label-group field">
                <%= f.password_field :password, autocomplete: "new-password", placeholder: :password, required: true, class: "form-control" %>
                <%= f.label :password %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: :confirm_password, required: true, class: "form-control" %>
                <%= f.label :password_confirmation %>
              </div>
            </div>
          </div>
        </div>
        <%= f.submit "Register", class: "btn btn-primary btn-block actions" %>
      <% end %>
      <div class="text-center">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
